@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

*{margin: 0;}

canvas {display: block;}
body {background: black;}

.homeScreen
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: #20C20E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Anonymous Pro', monospace;
  background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border: 1px solid rgba(255, 255, 255, 1);
padding: 5vh 5vw;
}

.homeScreen h1
{
  font-size: 5vw;
  margin: 0;
}

.homeScreen h2
{
  margin-top: -.5vw;
  font: 2vw;
}